:root{
    --maize: #fdea5fff;
--night: #0f0c15ff;
--battleship-gray: #93877aff;
--persian-indigo: #3a2577ff;
--dark-spring-green: #177834ff;
--claret: #7b1f3bff;
--slate-gray: #738396ff;
--fairy-tale: #f6c5daff;
--royal-blue-traditional: #192d76ff;
--safety-orange: #fa7713ff;
}